<p>Aloha and welcome to the Visitation Scheduling System. Please fill out the following information completely in order to continue.</p>

<form name="registration">
	<label for="first_name">First Name: </label><input type="text" name="first_name" placeholder="John" required>
	<label for="last_name">Last Name: </label><input type="text" name="last_name" placeholder="Doe" required>
	<label for="ssn">SSN (without dashes): </label><input type="password" name="ssn" pattern="^\d{9}$" maxlength="9" required>
	<input type="submit">
</form>
